﻿@model Aquino_T3.WEB.Models.HistoriaClinica

@{
    ViewData["Title"] = "Create";
}
<p><h2>Create HistoriaClinica</h2></p>
<hr />
<div class="row">
    <div >
        <form action="/HistoriaClinica/Create" method="post">
            <div class="row">
                <div class="form-group col-md-12">
                    <h3 class="text-center font-weight-bold">Datos de la Mascota</h3>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Codigo</label>
                    <input name="Codigo" class="form-control" value="@Model.Codigo" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Nombre de la mascota</label>
                    <input name="NombreM" class="form-control" value="@Model.NombreM" />
                    <span asp-validation-for="NombreM" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Fecha nacimiento de la mascota</label>
                    <input name="NacimientoM" type="date" class="form-control"/>
                    <span class="text-danger">@Html.ValidationMessage("Fecha")</span>
                    <span asp-validation-for="NacimientoM" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Sexo de la mascota</label>
                    <select name="Sexo" class="custom-select">
                        <option value="">--Escoja Una Opcion--</option>
                        <option value="Macho">Macho</option>
                        <option value="Hembra">Hembra</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" >
                    <label class="control-label">Especie</label>
                    <select name="Especie" class="custom-select" id="especie">
                        <option value="">--Escoja Una Opcion--</option>
                        <option value="Perro">Perro</option>
                        <option value="Gato">Gato</option>
                    </select>
                    <span asp-validation-for="Especie" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" id="raza">
                    <div id="razacont">
                        <label class="control-label">Raza</label>
                        <input name="Raza" class="form-control" placeholder="Debe elegir una especie antes" readonly/>
                        <span asp-validation-for="Raza" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Tamaño</label>
                    <input name="Tamanio" class="form-control" value="@Model.Tamanio"/>
                    <span asp-validation-for="Tamanio" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Datos particulares</label>
                    <textarea name="DatosParticulares" class="form-control">@Model.DatosParticulares</textarea>
                    <span asp-validation-for="DatosParticulares" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-md-12">
                    <h3 class="text-center font-weight-bold">Datos del Dueño</h3>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Nombre</label>
                    <input name="NombreDuenio" class="form-control"  value="@Model.NombreDuenio" />
                    <span asp-validation-for="NombreDuenio" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Direcion</label>
                    <input name="DirecionDuenio" class="form-control"  value="@Model.DirecionDuenio" />
                    <span asp-validation-for="DirecionDuenio" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Telefono</label>
                    <input name="Telefono" class="form-control"  value="@Model.Telefono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Email</label>
                    <input name="Email" type="email" class="form-control"  value="@Model.Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                
                <div class="form-group col-md-6 text-right">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
                <div class="form-group col-md-6 text-left">
                    <a href="/HistoriaClinica/index" class="btn btn-outline-primary">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    $('#especie').change(function (e) {
        var especie = $('#especie').val();
        if (especie == 'Perro') {
            $('#razacont').remove();
            $('#raza').append('<div id="razacont">'+
                '<label class= "control-label" > Raza </label>'+
                    '<select name="Raza" class="custom-select">'+
                        '<option value="">--Escoja Una Opcion--</option>'+
                        '<option value="Chihuahua">Chihuahua</option>'+
                '<option value="Pastor aleman">Pastor Aleman</option>' +
                '<option value="Golden retriever">Golden retriever</option>' +
                '<option value="Poodle">Poodle</option>' +
                    ' </select>'+
                '</div >');
        } else if (especie == 'Gato'){
            $('#razacont').remove();
            $('#raza').append('<div id="razacont">' +
                '<label class= "control-label" > Raza</label>' +
                '<select name="Raza" class="custom-select">' +
                '<option value="">--Escoja Una Opcion--</option>' +
                '<option value="Gato Perza">Gato Perza</option>' +
                '<option value="Gato Siames">Gato Siames</option>' +
                '<option value="Azul Ruso">Azul Ruso</option>' +
                '<option value="Birmano">Birmano</option>' +
                ' </select>' +
                '</div >');
        } else {
            $('#razacont').remove();
            $('#raza').append('<div id="razacont">' +
                '<label class= "control-label" > Raza</label>' +
                '<input name="Raza" class="form-control" placeholder="Debe elegir una especie antes" readonly />'+
                '<span asp-validation-for="Raza" class="text-danger"></span>'+
                   '</div > ');
        }
    });
</script>
