﻿
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de historias clinicas</h1>
<div class="row">
    <div class="col-md-6">
        <a href="/HistoriaClinica/Create" class="btn btn-outline-info">Nueva historia clinica</a>
    </div>
</div>
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card border-light bg-info my-3 text-light">
            <div class="card-body">
                <h5 class="card-title">@item.NombreM</h5>
                <div class="row">
                    <div class="col-md-4">
                        <label>Codigo: </label>
                        @item.Codigo
                    </div>
                    <div class="col-md-4">
                        <label>Fecha de registro: </label>
                        @item.FechaR.ToShortDateString()
                    </div>
                    <div class="col-md-4">
                        <label>Fehca de nacimiento: </label>
                        @item.NacimientoM.ToShortDateString()
                    </div>
                    <div class="col-md-4">
                        <label>Sexo: </label>
                        @item.Sexo
                    </div>
                    <div class="col-md-4">
                        <label>Especie: </label>
                        @item.Especie
                    </div>
                    <div class="col-md-4">
                        <label>Raza: </label>
                        @item.Raza
                    </div>
                    <div class="col-md-4">
                        <label>Tamaño: </label>
                        @item.Tamanio
                    </div>
                    <div class="col-md-12">
                        <label>Datos particulares: </label>
                        @item.DatosParticulares
                    </div>
                    <div class="col-md-12 text-center  border-top">
                        <h2 class="card-subtitle my-3">Datos del dueño</h2>
                    </div>
                    <div class="col-md-4">
                        <label>Nombre: </label>
                        @item.NombreDuenio
                    </div>
                    <div class="col-md-4">
                        <label>Direcion: </label>
                        @item.DirecionDuenio
                    </div>
                    <div class="col-md-4">
                        <label>Telefono: </label>
                        @item.Telefono
                    </div>
                    <div class="col-md-4">
                        <label>Email: </label>
                        @item.Email
                    </div>
                </div>
            </div>
        </div>
    }
</div>